<?xml version="1.0"?>
<robot name="robotiq_arg2f_140_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_2f_140_model_full.xacro" />

  <!--xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro_dsr.xacro" /-->

  <link name="robotiq_coupler">
    <visual>
      <geometry>
        <mesh filename="package://dsr_description/meshes/gripper/robotiq/85_2f/robotiq_85_coupler.stl" />
      </geometry>
      <material name="dr_white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://dsr_description/meshes/gripper/robotiq/85_2f/robotiq_85_coupler.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="2.073e-05   1.45286e-03  -1.1049e-03" rpy="0 0 0" />
      <mass value="0.168" />
      <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08" 
               iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
  </link>

  <joint name="robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 0.004" rpy="0 0 0" />
    <parent link="link6"/>
    <child link="robotiq_coupler"/>
  </joint>

  <gazebo reference="robotiq_coupler">
    <mu1>0.9</mu1>o:
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  


  <xacro:robotiq_140_gripper prefix="" parent="robotiq_coupler" >
    <!--origin xyz="0 0 0.004" rpy="0 0 0"/-->
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_140_gripper> 

</robot>
